<div class="section" id="skill">
  <div class="container">
    <div class="titlee h2 text-center mb-4 title">Tech Stack 🔥 </div>
    <div style="margin-left: 70px;" class="row">
      <p style="color: white;font-size: 20px;">These are the few Technologies , languages and frameworks that i grind on
        a regular
        basis..</p>
    </div>


    <div class="container-fluid">


      <div data-aos="fade-up-right" class="row">
        <div class="col-md-4">
          <div class="row">
            <img alt="html" src="assets/images/tech/html.png" class="grow imgprop img-thumbnail" />
            <p class="imgdesc">HTML 5</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <img alt="css" src="assets/images/tech/css.png" class="grow imgprop img-thumbnail" />
            <p class="imgdesc">CSS 3</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <img alt="javascript" src="assets/images/tech/bootstrap.png" class="grow imgprop img-thumbnail">
            <p class="imgdesc">Bootstrap 4</p>
          </div>
        </div>
      </div>


      <div data-aos="fade-up-left" class="row">
        <div class="col-md-4">
          <div class="row">
            <img alt="javascript" src="assets/images/tech/javascript.png" class="grow imgprop img-thumbnail" />
            <p class="imgdesc">Javascript</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <img alt="bootstrap" src="assets/images/tech/ts.png" class="grow imgprop img-thumbnail" />
            <p class="imgdesc">Typescript</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <img alt="javascript" src="assets/images/tech/jquery.png" class="grow imgprop img-thumbnail">
            <p class="imgdesc">JQuery</p>
          </div>
        </div>
      </div>

      <div data-aos="fade-up-right" class="row">
        <div class="col-md-4">
          <div class="row">
            <img alt="Angular" src="assets/images/tech/angular.png" class="grow imgprop img-thumbnail" />
            <p class="imgdesc">Angular</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <img alt="Typescript" src="assets/images/tech/node.png" class="grow imgprop img-thumbnail" />
            <p class="imgdesc">NodeJS</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <img alt="javascript" src="assets/images/tech/mongodb.png" class="grow imgprop img-thumbnail">
            <p class="imgdesc">MongoDB</p>
          </div>
        </div>
      </div>

      <div data-aos="fade-up-left" class="row">
        <div class="col-md-4">
          <div class="row">
            <img alt="python" src="assets/images/tech/python.png" class="grow imgprop img-thumbnail" />
            <p class="imgdesc">Python</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <img alt="react" src="assets/images/tech/react.png" class="grow imgprop img-thumbnail" />
            <p class="imgdesc">React</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <img alt="graphql" src="assets/images/tech/graphql.png" class="grow imgprop img-thumbnail">
            <p class="imgdesc">GraphQL</p>
          </div>
        </div>
      </div>



      <div data-aos="fade-up-right" class="row">
        <div class="col-md-4">
          <div class="row">
            <img alt="Gitlab" src="assets/images/tech/gitlab.png" class="grow imgprop img-thumbnail" />
            <p class="imgdesc">Gitlab</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <img alt="Jenkins" src="assets/images/tech/jenkins.png" class="grow imgprop img-thumbnail" />
            <p class="imgdesc">Jenkins</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <img stye alt="Docker" src="assets/images/tech/docker.png" class="grow imgprop img-thumbnail">
            <p class="imgdesc">Docker</p>
          </div>
        </div>
      </div>


      <div data-aos="fade-up-left" class="row">
        <div class="col-md-4">
          <div class="row">
            <img alt=" Digital Ocean" src="assets/images/tech/do.png" class="grow imgprop img-thumbnail" />
            <p class="imgdesc"> Digital Ocean</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <img alt="Selenium" src="assets/images/tech/selenium.png" class="grow imgprop img-thumbnail" />
            <p class="imgdesc">Selenium</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <img stye alt="Appium" src="assets/images/tech/appium.png" class="grow imgprop img-thumbnail">
            <p class="imgdesc">Appium</p>
          </div>
        </div>
      </div>





    </div>
  </div>
</div>
