<footer class="footer">
  <div class="container text-center">
    <a class="cc-facebook btn btn-link" href="https://www.facebook.com/adhitya.murali" target="_blank">
      <i class="fa fa-facebook fa-2x " aria-hidden="true"></i>
    </a>
    <a class="cc-instagram btn btn-link" href="https://www.instagram.com/that_coffeee_guy/" target="_blank">
      <i class="fa fa-instagram fa-2x " aria-hidden="true"></i>
    </a>


    <a class="cc-github btn btn-link " href="https://github.com/adhityamurali" target="_blank">
      <i class="fa fa-github fa-2x " aria-hidden="true"></i>
    </a>
    <!-- <a class="cc-google-plus btn btn-link" href="#" target="_blank">
        <i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>
      </a> -->
  </div>
  <div class="text-center text-muted">
    <p>&copy; Adhitya murali
    </p>
  </div>
</footer>
