<footer class="footer" style="background-color: #334c5f;">
    <div class="container" style="color:rgb(224, 222, 222);">
        <div class="row footer-cols">
            <div class="column col-md-6 col-lg-2">
                <div class="widget">
                    <h4 class="hr-primary">Navigation</h4>
                    <div class="row">

                        <ul class="nav-list" style="padding-left:15px">
                            <li><a title="DARTexon-home" href="index">Home</a></li>
                            <li><a title="DARTexon-services" href="DARTexon-Services">Services</a></li>
                            <li><a title="DARTexon-casestudy" href="DARTexon-CaseStudy">Case Studies</a></li>
                            <li><a title="DARTexon-Products" href="DARTexon-products">Products</a></li>
                            <li><a title="DARTexon-blog" href="Dartexon-Blogs">Blog</a></li>
                            <li><a title="DARTexon-about" href="DARTexon-about-us">About Us</a></li>
                            <li><a title="DARTexon-contact" href="DARTexon-contactus">Contact Us</a></li>
                        </ul>
                        <!--/.nav-list-->


                    </div>
                    <!--/.row-->
                </div>
                <!--/.widget-->
            </div>
            <!--/.col-->
            <div class="column col-md-6 col-lg-4">
                <div class="widget">
                    <h4 class="hr-primary">Contact Address</h4>
                    <div class="address-col getintouch">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <address>NASSCOM Warehouse, <br>Tidel Park, 1st Floor, <br> No.4, Rajiv Gandhi
                        Salai,Taramani,<br>OMR, Chennai – 600113, India</address>
                    </div>



                </div>
                <!--/.widget-->
            </div>
            <!--/.col-->
            <div class="column col-md-6 col-lg-3">
                <div class="widget">
                    <h4 class="hr-primary">Contact Information</h4>
                    <div class="phone-col getintouch">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span>+91 89398 98636 <br> +91 95000 00755</span>
                    </div>
                    <!--/.getintouch-->
                    <div class="email-col getintouch">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span><a title="DARTexon-info" href="#">info@dartexon.com</a></span>
                    </div>
                    <!--/.getintouch-->

                </div>
                <!--/.widget-->
            </div>
            <!--/.col-->
            <div class="column col-md-6 col-lg-3">
                <div class="widget">
                    <h4 class="hr-primary">Connect with us</h4>
                    <div class="social-block">
                        <span></span>
                        <ul class="social-links">
                            <li class="fb"><a href="https://www.facebook.com/dartexon/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li class="tw"><a href="https://twitter.com/DarTexon" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li class="yt"><a href="https://www.youtube.com/channel/UCgWWP7SqXaQFGFumDq6W8dw" target="_blank" title="Youtube"><i class="fa fa-youtube"></i></a></li>
                            <li class="in"><a href="https://www.linkedin.com/company/dartexon/" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                        <!--/.social-links-->
                    </div>
                    <!--/.social-block-->
                </div>
                <!--/.widget-->
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
        <div class="copyright">
            © Copyrights 2019 D4D. All Rights Reserved
        </div>
        <!--/.copyright-->
    </div>
    <!-- <div class="container text-center">
    <a class="cc-facebook btn btn-link" href="https://www.facebook.com/adhitya.murali" target="_blank">
      <i class="fa fa-facebook fa-2x " aria-hidden="true"></i>
    </a>
    <a class="cc-instagram btn btn-link" href="https://www.instagram.com/that_coffeee_guy/" target="_blank">
      <i class="fa fa-instagram fa-2x " aria-hidden="true"></i>
    </a>


    <a class="cc-github btn btn-link " href="https://github.com/adhityamurali" target="_blank">
      <i class="fa fa-github fa-2x " aria-hidden="true"></i>
    </a>
  
  </div>
  <div class="text-center text-muted">
    <p>&copy; Adhitya murali
    </p>
  </div> -->
</footer>