<div class="section" id="contact">
  <div class="cc-contact-information" style="background-image: url('assets/images/contact.jpg');">
    <div class="container">
      <div class="cc-contact">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-0" data-aos="zoom-in">
              <div class="h4 text-center title">Hey Folks!</div>
              <div class="row">
                <div class="col-md-12">
                  <div class="card-body">

                    <!--  <div class="p pb-3">
                        <strong>Feel free to contact me </strong>
                      </div> -->
                    <div class="row mb-3">
                      <div class="col">
                        <div class="input-group">
                          <span> <i class="fa fa-globe fa-2x"></i></span>


                          Wanna build Websites or App ?
                          <!--   <input class="form-control" type="text" name="name" placeholder="Name"
                              [(ngModel)]="model.name" #name="ngModel"
                              [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required /> -->
                        </div>
                      </div>
                    </div>
                    <!--  <div class="row mb-3">
                      <div class="col">
                        <div class="input-group">
                          <span>
                            <i class="fa fa-cogs fa-2x"></i>
                          </span>
                          Wanna Automate your monotonous work on websites for you?
                         
                        </div>
                      </div>
                    </div> -->
                    <div class="row mb-3">
                      <div class="col">
                        <div class="input-group">
                          <span>
                            <i class="fa fa-code fa-2x"></i>
                          </span>
                          Aspiring to be a developer? But no idea how to start?
                          <!--  <input class="form-control" type="text" name="email" placeholder="E-mail"
                              [(ngModel)]="model.email" #email="ngModel"
                              [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                              pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required /> -->
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col">
                        <div class="input-group">
                          <span>
                            <i class="fa fa-tasks fa-2x"></i>
                          </span>
                          Wanna Collaborate or pitch in for some Fun/Real projects?
                          <!--  <input class="form-control" type="text" name="email" placeholder="E-mail"
                              [(ngModel)]="model.email" #email="ngModel"
                              [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                              pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required /> -->
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col">
                        <div class="input-group">
                          <span>
                            <i class="fa fa-question fa-2x"></i>
                          </span>
                          Maybe wanna learn something new or anything to ask?
                          <!--  <input class="form-control" type="text" name="email" placeholder="E-mail"
                              [(ngModel)]="model.email" #email="ngModel"
                              [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                              pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required /> -->
                        </div>
                      </div>
                    </div>
                    <!--   <div class="row mb-3">
                      <div class="col">
                        <div class="form-group">
                          <textarea class="form-control" name="message" placeholder="Your Message"
                            [(ngModel)]="model.message" #message="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && message.invalid }" required></textarea>
                        </div>
                      </div>
                    </div> -->

                    <div class="row">
                      <div class="col">
                        <p class="mb-0">
                          <strong>Call/Whatsapp</strong>
                        </p>
                        <p class="pb-2">+91 9677633146</p>

                      </div>
                      <div class="col">

                        <p class="mb-0">
                          <strong>Email</strong>
                        </p>
                        <p>adhityamurali03@gmail.com</p>
                      </div>
                    </div>

                  </div>
                </div>
                <!--   <div class="col-md-6">
                  <div class="card-body">
                    <p class="mb-0">
                      <strong>Phone</strong>
                    </p>
                    <p class="pb-2">+91 9677633146</p>
                    <p class="mb-0">
                      <strong>Email</strong>
                    </p>
                    <p>adhityamurali03@gmail.com</p>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-snotify class="material"></ng-snotify>
