<!-- <div class="section" id="contact">
  <div class="cc-contact-information" style="background-image: url('assets/images/contact.jpg');">
    <div class="container">
      <div class="cc-contact">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-0" data-aos="zoom-in">
              <div class="h4 text-center title">Hey Folks!</div>
              <div class="row">
                <div class="col-md-12">
                  <div class="card-body">

                   
                    <div class="row mb-3">
                      <div class="col">
                        <div class="input-group">
                          <span> <i class="fa fa-globe fa-2x"></i></span>


                          Wanna build Websites or App ?
                         
                        </div>
                      </div>
                    </div>
                    
                    <div class="row mb-3">
                      <div class="col">
                        <div class="input-group">
                          <span>
                            <i class="fa fa-code fa-2x"></i>
                          </span>
                          Aspiring to be a developer? But no idea how to start?
                         
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col">
                        <div class="input-group">
                          <span>
                            <i class="fa fa-tasks fa-2x"></i>
                          </span>
                          Wanna Collaborate or pitch in for some Fun/Real projects?
                       
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col">
                        <div class="input-group">
                          <span>
                            <i class="fa fa-question fa-2x"></i>
                          </span>
                          Maybe wanna learn something new or anything to ask?
                         
                        </div>
                      </div>
                    </div>
                    

                    <div class="row">
                      <div class="col">
                        <p class="mb-0">
                          <strong>Call/Whatsapp</strong>
                        </p>
                        <p class="pb-2">+91 9677633146</p>

                      </div>
                      <div class="col">

                        <p class="mb-0">
                          <strong>Email</strong>
                        </p>
                        <p>adhityamurali03@gmail.com</p>
                      </div>
                    </div>

                  </div>
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  #100f0f;-->

<div class="column col-lg-12" id="contact" style="background-color: #334c5f;border-bottom: 1px solid green;">
    <div class="contact-box">
        <h2 style="color:white">Get In Touch</h2>
        <form id="ajax-contact" method="post" action="/" onsubmit="validateCaptcha()">
            <!-- CONTACT FORM mailer.php-->
            <div class="row">
                <div class="column col-md-6">
                    <div class="form-group">
                        <input class="form-control" autocomplete="off" placeholder="Your Name" name="name" id="name" required="" type="text">
                    </div>
                    <!--/.form-group-->
                </div>
                <!--/.col-->
                <div class="column col-md-6">
                    <div class="form-group">
                        <input class="form-control" autocomplete="off" placeholder="your email ID" name="email" id="email" required="" type="email">
                    </div>
                    <!--/.form-group-->
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->
            <div class="row">
                <div class="column col-12">
                    <div class="form-group">
                        <input class="form-control" autocomplete="off" placeholder="Subject" name="subject" id="subject" required="" type="text">
                    </div>
                    <!--/.form-group-->
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->
            <div class="row">
                <div class="column col-12">
                    <!-- <grammarly-extension data-grammarly-shadow-root="true" style="position: absolute; top: 0px; left: 0px; pointer-events: none;" class="cGcvT"></grammarly-extension> -->
                    <div class="form-group">
                        <textarea id="textarea" class="form-control" required="" placeholder="Description" name="message" spellcheck="false"></textarea>
                    </div>
                    <!--/.form-group-->
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->

            <div class="row">

                <div class="column col-md-6 ct-submit">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success" id="btn-submit">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;Submit &nbsp;&nbsp;&nbsp;</button>
                    </div>
                </div>
            </div>
        </form>
        <div id="form-messages"></div>
    </div>
    <!--/.contact-box-->
</div>
<ng-snotify class="material"></ng-snotify>