<div style="font-size: 18px;background-color:white" class="section" id="experience">

    <div style="float: center;">
        <div style="margin-bottom: 0px;" class="row">
            <div class="column col-md-12 offset-lg-2 title-col" style="text-align:center;margin-bottom: 5%;" data-aos="fade-up" data-aos-duration="2000">
                <h2 class="section-title" style="font-weight:700;">What We Do<span></span></h2>
                <!-- <h4>Experts in design thinking and building software</h4>
                    <p> Product thinkers, technology advisors, solution architects, process consultants and software engineers. A powerful combination that enables us to deliver better software.
                    </p> -->
            </div>
        </div>
        <div class="row" style="margin: 0% 10%;">
            <div style="animation-direction: alternate;" class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft" data-aos="zoom-in">
                <div class="box1 text-center">
                    <div class="card">
                        <div class="service-col1">
                            <i class="fa fa-cogs" aria-hidden="true"></i>
                            <h3>AI</h3>
                            <p>We help small and mid-sized companies create measurable business value by leveraging artificial intelligence to solve problems.
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft" data-aos="zoom-in">
                <div class="box1 text-center">
                    <div class=" card ">
                        <div class="service-col1">
                            <i class="fa fa-btc" aria-hidden="true"></i>
                            <h3>Blockchain</h3>
                            <p>Our ready-to-use version of the Blockchain platform is simple to use. It saves time and money and reduces the risk of failure. Our offering is based on core guiding principles with reference implementation.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft" data-aos="zoom-in">
                <div class="box1 text-center">
                    <div class=" card ">
                        <div class="service-col1">
                            <i class="fa fa-television " aria-hidden="true"></i>
                            <h3>Web Development</h3>
                            <p>We develop and deploy high-performance web applications customized to your specific business needs. Whether your application is for business, a hobby or somewhere in between, we make sure that it is built the way that’s right
                                for you.
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft" data-aos="zoom-in">
                <div class="box1 ">
                    <div class=" card text-center">
                        <div class="service-col1">
                            <i class="fa fa-mobile" aria-hidden="true"></i>
                            <h3>Mobile Development</h3>
                            <p>We build mobile apps that run on iOS and Android. Our commitment is to innovate so you get the most bang for your buck. </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft" data-aos="zoom-in">
                <div class="box1 ">
                    <div class=" card text-center">
                        <div class="service-col1">
                            <i class="fa fa-cloud" aria-hidden="true"></i>
                            <h3>Wearables</h3>
                            <p>With our expertise in IoT and Wearables based services, we help your business harness the power of those technologies. We assist in architecture, integration, configuration and hosting.
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft" data-aos="zoom-in">
                <div class="box1 ">
                    <div class=" card text-center">
                        <div class="service-col1">

                            <i class="fa fa-android" aria-hidden="true"></i>
                            <h3>AI Chatbot</h3>
                            <p>We build conversational interfaces that combine AI and Natural Language Processing. we enable companies to benefit from a whole new world of conversational interfaces.
                            </p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>
<!-- <div class="section" id="experience">
  <div class="container cc-education">
    <div class="titlee h2 mt-0 text-center mb-4 title">The Journey <i class="fa fa-road"></i>
    </div>
    <div class="colorlib-narrow-content">

      <div class="row">
        <div class="col-md-12">




          <div style="margin-top: 4%;" class="container-fluid">
            <div class="row example-centered">

              <div class="col-xs-12 ">
                <ul class="timeline timeline-centered">
                  <li data-aos="fade-up" data-aos-duration="2000" class="timeline-item">
                    <div class="timeline-info">
                      <span>2010</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                      <h3 class="titlee timeline-title">First encounter</h3>
                      <p>It all started in grade 10 at St.James HSS, when a friend of mine introduced me to the world of
                        tech with his
                        brand new smartphone. It always amazed me to find how these things work.</p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-duration="2000" class="timeline-item">
                    <div class="timeline-info">
                      <span>2010-2012</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                      <h3 class="titlee timeline-title">The High School</h3>
                      <p>At this point, i started to make use of the internet in all possible ways, surfing became a
                        passtime and getting to know something was cool.
                        It was the time when you didn't have these much of mobile variants , so i got to know every
                        available phone specs like back of my hand and it felt good.
                        Almost all the games i played at that time was pirated and as you know its not that easy to
                        install a game on your PC. Google became a friend and by fixing things for my needs learnt a
                        lot.</p>
                    </div>
                  </li>
                  <li class="timeline-item period">
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                      <img src="https://media.makeameme.org/created/amazing-5bdae6.jpg"><img>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-duration="2000" class="timeline-item">
                    <div class="timeline-info">
                      <span>2012-2016</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                      <h3 class="titlee timeline-title">Quadrennial period</h3>
                      <p>I Pursued Mechanical Engineering at KRCE in Trichy. Yea, My dad ws a mechie ,he was my
                        rolemodel so it was a obvious choice ;). Over a period of time developed interest in hacking. So
                        after a year , i had a rough idea on Mobiles , hacking in theory and few other tech stuffs.
                        Got better on tech hacks, Mobile and PC mods. This is when i realized mech was not my piece of
                        cake.
                      </p>
                    </div>
                  </li>
                  <li>
                    <div data-aos="fade-up" data-aos-duration="2000" data-aos-offset="10"
                      class="col-md-12 example-title">
                      <h3 style="margin-top:30px ;" class="titlee timeline-title">September 8 , 2016 </h3>
                      <p style=" color: white;font-size: 20px;margin-bottom:30px">After Graduation, with no
                        tech background it was
                        difficult to get into
                        the IT Sector.
                        Fortunately, got an oppurtunity from a Start-up called <a
                          href="https://www.tristhaglobal.com/">Tristha Global private limited</a>. I decided
                        to join
                        and it got to be my first job in my professional career.
                        Boom!! From Mechie to a Techie.😉</p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-duration="2000" class="timeline-item">
                    <div class="timeline-info">
                      <span>2016-2017</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                      <h3 class="titlee timeline-title">Trainee Software Engineer</h3>
                      <p>Started my career as the first employee of the organization. Initially there were few hickups
                        as i was not so good at code and over a period of time it changed and things were falling into
                        place. I underwent training for 3 months
                        in Full Stack Development with AngularJS,NodeJS,Express,MongoDB . Parallely got to know other
                        dev trends in the market</p>
                    </div>
                  </li>

                  <li data-aos="fade-up" data-aos-duration="2000" class="timeline-item">
                    <div class="timeline-info">
                      <span>2017-2018</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                      <h3 class="titlee timeline-title">Assistant Software Engineer</h3>
                      <p>During this period i was invloved in Building the complete
                        client-server-DB Architecture of a Test management and Automation tool(Web-based) from scratch
                        with a 3 member team. Got to know the aspects of testing methodologies, Testing Frameworks like
                        Selenium,Protractor. Collaborated with the testing team to understand the process and implement
                        them in the tool that we were building.
                        Parallely worked with libraries and tools such as Putty, wireshark ,winSCP.
                      </p>
                    </div>
                  </li>
                  <li data-aos="fade-up" data-aos-duration="2000" class="timeline-item">
                    <div class="timeline-info">
                      <span>2018-Today</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                      <h3 class="titlee timeline-title">Software Engineer</h3>
                      <p>Got an Upgrade as a full time Software Engineer. Involved in Architectural revamps along-side
                        with the CTO of the firm. Contributed in the development of new features and functionalities for
                        the tool.</p>
                      <p>Parallely learnt CI/CD with jenkins and Docker and invloved in Server maintenance in Digital
                        ocean. Worked few trial sites with JAM Stack. Started learning python for machine learning for a
                        side hustle.</p>
                      <p>In January 2020, started a instagram blog called <a
                          href="https://www.instagram.com/caffeine_tech/">
                          caffeine_tech</a> to share my ideas and contribute to the dev community and to learn from
                        them.Hoping to share , teach and Learn as much as possible and it goes on...</p>

                    </div>
                  </li>

                </ul>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
</div> -->


<style>
    .section-title span:before,
    .section-title span:after {
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #37a000;
        left: 50%;
        top: 100%;
        margin-top: -2px;
        margin-left: 2px;
    }
    
    .section-title:before,
    .section-title:after {
        content: '';
        position: absolute;
        left: 50%;
        margin-left: 6px;
        width: 35px;
        height: 2px;
        background: #37a000;
        top: 100%;
    }
    
    .section-title {
        position: relative;
        padding-bottom: 10px;
    }
    
    .section-title:after {
        left: auto;
        right: 50%;
        margin-right: 6px;
    }
    
    .section-title span:after {
        left: auto;
        right: 50%;
        margin-left: 0;
        margin-right: 2px;
    }
</style>