<div class="section" id="workspace">
  <div class="container">
    <div class="titlee h2 text-center mb-4 title">Workspace</div>


    <div data-aos="fade-right" class="container-fluid">
      <div class="row">

        <img alt="Selenium" src="assets/images/setup.jpeg" class="grow imgprop img-thumbnail" />

      </div>
    </div>

    <div data-aos="fade-left" class="container-fluid">

      <div class="row">

        <div style="color:white;font-size: 18px;" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

          <h4>Powered by Alienware 15" R4</h4>

          <p>
            <b>CPU : </b> Core i7-8750H (Overclocked to 3.7GHz)<br>
            <b>GPU :</b> NVIDIA GeForce GTX 1060 OC | 6GB GDDR5<br>
            <b>RAM :</b> 16GB 2400MHz DDR4 <br>
            <b>Storage :</b> 128GB PCIe SSD + 1TB HDD
          </p>

          <h4>Display</h4>

          <p>
            <b>Primary :</b> LG 30" Ultrawide FHD Gaming Monitor | 75Hz(1ms)<br>

            <b>Secondary :</b> Samsung 21.5" Ultrathin FHD | 5ms | 60Hz<br>

            <b>Tertiary :</b> Alienware 15.6" FHD (default) | 60Hz
          </p>

        </div>

        <div style="color:white;font-size: 18px;" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

          <h4>Accessories</h4>

          <p>
            <!-- <b>Speakers :</b> JBL flip <br> -->
            <b>Speaker/Voice assistant :</b> Alexa Echo Dot (3rd Gen)<br>
            <b>Accessory USB Hub:</b> Anker USB C Hub 5-in-1<br>
            <b>Keyboard:</b> Logitech-G G213 Prodigy RGB Gaming <br>
            <b>Mouse:</b> Logitech-G G102 Prodigy Optical Gaming<br>
            <b>Work-Desk:</b> 60*36" custom made Maple wood<br>
            <b>Laptop Stand:</b> 17" AmazonBasics Ventilated Stand<br>
            <b>Keyboard-mouse pad:</b> RedGear Extended RGB pad <br>

            <!-- <b>LED lights:</b> Opard LED Strip <br> -->
            <b>Posters:</b> Paper plane posters via Amazon <br>
            <b>Cable management:</b> Poor cable Management System 😛<br>
          </p>

        </div>

        <div style="color:white;font-size: 18px;" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">



        </div>

      </div>




    </div>
  </div>
</div>
