<div style="font-size: 18px;background-color:white" class="section" id="about">
    <div class="container">
        <div class="" style="float: center;">
            <div style="margin-bottom: 0px;" class="row">
                <div class="column col-lg-12 offset-lg-2 title-col" style="text-align:center;margin-bottom: 5%;" data-aos="fade-up" data-aos-duration="2000">
                    <h2 class="section-title" style="font-weight:700;">Who We Are<span></span></h2>
                    <h4>Experts in design thinking and building software</h4>
                    <p> Product thinkers, technology advisors, solution architects, process consultants and software engineers. A powerful combination that enables us to deliver better software.
                    </p>
                </div>
                <!-- <div class="col-lg-6 col-md-12">
                    <div class="card-body " data-aos="fade-up" data-aos-offset="10">
                        <div class="titlee h3 mt-0 title">About</div>
                        <p>Hi 👋 I'm <strong>Adhitya</strong> , Experienced Software Engineer with expertise in versatile technologies involving in Full- stack development and automation . I build Sites , Apps , Teach aspiring developers and a work in progress.
                        </p>


                        <p>
                            Constantly Embracing new Techs and Jack of all Trades is what i beleive in.
                        </p>


                    </div>
                </div>


                <div class="col-lg-6 col-md-12">

                    <div class="card-body  " data-aos="fade-up" data-aos-offset="10">
                        <div class="titlee h4 mt-0 title ">Basic Information</div>
                        <div style="margin-top: 7%;" class="aboutcss">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">
                                        <i style="font-size:27px" class="fa fa-calendar-o "></i>
                                        <p class="icondetail">03 July, 1995</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">
                                        <i style="font-size:27px" class="fa fa-envelope "></i>
                                        <p style="font-size:16px" class="icondetail">adhityamurali03@gmail.com</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">
                                        <i style="font-size:27px" class="fa  fa-phone "></i>
                                        <p class="icondetail">+91 9677633146</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">
                                        <i style="font-size:27px" class="fa  fa-map-marker "></i>
                                        <p class="icondetail">Chennai, India</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">
                                        <i style="font-size:27px" class="fa  fa-language "></i>
                                        <p class="icondetail">Tamil,English,Hindi</p>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
                </div> -->
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="" style="margin-bottom: 0px;display: -webkit-inline-box;">
        <div class="col-lg-6" style="border-top: 0.1px solid black;border-bottom: 0.1px solid black;">
            <div style="padding: 100px;">
                <div style="font-weight: 700;font-size: 15px;">
                    <h1><b>Why Choose Us</b></h1>
                </div>
                <div class="col-md-12" style="display: inline-flex;" data-aos="fade-up" data-aos-duration="2000">

                    <div class="why-choose-col">
                        <i class="fa fa-users"> </i>
                    </div>
                    <div class="why-choose-content">
                        <h4 style="color:#0B0708;margin-top: 0;font-weight: 700;">Our people</h4>
                        <p>Our people understand emerging technologies and how they can enhance business efficiency when harnessed right. We work with clients to imagine possibilities and then build software. </p>
                    </div>

                </div>
                <div class="col-md-12" style="display: inline-flex;" data-aos="fade-up" data-aos-duration="2000">

                    <div class="why-choose-col">
                        <i class="fa fa-desktop"> </i>
                    </div>
                    <div class="why-choose-content">
                        <h4 style="color:#0B0708;margin-top: 0;font-weight: 700;">Our frameworks</h4>
                        <p>Our AI and Blockchain frameworks help you save time and money while integrating these advanced technologies into your software.</p>
                    </div>

                </div>
                <div class="col-md-12" style="display: inline-flex;" data-aos="fade-up" data-aos-duration="2000">

                    <div class="why-choose-col">
                        <i class="fa fa-handshake-o"> </i>
                    </div>
                    <div class="why-choose-content">
                        <h4 style="color:#0B0708;margin-top: 0;font-weight: 700;">Our approach</h4>
                        <p>Clients see us as committed partners with the ability to engage effectively using design thinking, agile development, rich software engineering and consulting led approaches.
                        </p>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-lg-6" style="background-color:aliceblue;text-align: center;" data-toggle="modal" data-target="#openvideo">

            <span>
            <i class="fa fa-youtube-play" aria-hidden="true" style="font-size: 100px;margin: 50%;cursor:pointer ;" ></i>
           </span>

        </div>

    </div>

    <div class="modal fade" id="openvideo" tabindex="-1" role="dialog" aria-labelledby="openvideoTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="background-color: transparent;height: 100%;">
                <div class="modal-header" style="">
                    <button type="button" class="btn btn-outline-danger fa fa-close" style="background-color: #28a745;top:0px;float: right;" data-dismiss="modal"></button>
                </div>
                <div class="modal-body" style="height: 100%;">
                    <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1&mute=1" style="width: 60%;margin: 10% 20%;height: 60%;">
                    </iframe>

                </div>

            </div>
        </div>
    </div>

</div>
<!-- Button trigger modal -->

<!-- Modal -->

<style>
    .page-header:before {
        background-color: white;
    }
    
    .why-choose-col>i {
        font-size: 40px;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        color: #37a000;
        background: rgba(36, 36, 36, 0.28);
        text-align: center;
        line-height: 84px;
        display: inline-block;
        vertical-align: middle;
    }
    
    .why-choose-content {
        overflow: hidden;
        font-size: 15px;
        display: inline-block;
        vertical-align: middle;
        padding-left: 30px;
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
        width: calc(100% - 90px);
    }
    
    .section-title span:before,
    .section-title span:after {
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #37a000;
        left: 50%;
        top: 100%;
        margin-top: -2px;
        margin-left: 2px;
    }
    
    .section-title:before,
    .section-title:after {
        content: '';
        position: absolute;
        left: 50%;
        margin-left: 6px;
        width: 35px;
        height: 2px;
        background: #37a000;
        top: 100%;
    }
    
    .section-title {
        position: relative;
        padding-bottom: 10px;
    }
    
    .section-title:after {
        left: auto;
        right: 50%;
        margin-right: 6px;
    }
    
    .section-title span:after {
        left: auto;
        right: 50%;
        margin-left: 0;
        margin-right: 2px;
    }
</style>