<div style="font-size: 18px;" class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div style="background-color: #100f0f;color: white;margin-bottom: 0px;" class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="titlee h3 mt-0 title">About</div>
            <p>Hi 👋 I'm <strong>Adhitya</strong> , Experienced Software Engineer with expertise in versatile
              technologies
              involving in Full- stack development and automation . I build Sites , Apps , Teach aspiring developers and
              a work in progress. </p>


            <p>
              Constantly Embracing new Techs and Jack of all Trades is what i beleive in.
            </p>


          </div>
        </div>


        <div class="col-lg-6 col-md-12">

          <div class="card-body  ">
            <div class="titlee h4 mt-0 title ">Basic Information</div>
            <div style="margin-top: 7%;" class="aboutcss">
              <div class="row">
                <div class="col-md-8">
                  <div class="row">
                    <i style="font-size:27px" class="fa fa-calendar-o "></i>
                    <p class="icondetail">03 July, 1995</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="row">
                    <i style="font-size:27px" class="fa fa-envelope "></i>
                    <p style="font-size:16px" class="icondetail">adhityamurali03@gmail.com</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="row">
                    <i style="font-size:27px" class="fa  fa-phone "></i>
                    <p class="icondetail">+91 9677633146</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="row">
                    <i style="font-size:27px" class="fa  fa-map-marker "></i>
                    <p class="icondetail">Chennai, India</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="row">
                    <i style="font-size:27px" class="fa  fa-language "></i>
                    <p class="icondetail">Tamil,English,Hindi</p>
                  </div>
                </div>
              </div>
            </div>




          </div>
        </div>
      </div>
    </div>
  </div>
</div>
