<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/intro.jpg');">
      </div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image">
            <a href="#">
              <img src="assets/images/adhi.jpg" alt="Image" />
            </a>
          </div>
          <!-- <div class="h2 title">      Adhitya Murali   </div> -->
          <div class="typewriter">
            <h2 class="h2 title"> Adhitya Murali </h2>
          </div>
          <p class="category text-white">Tech Enthusiast | Full Stack Dev | Web app Development | Test Automation</p>
          <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in"
            data-aos-anchor="data-aos-anchor">Get in touch</a>
          <a class="btn btn-primary"
            href="https://drive.google.com/file/d/1tOKnt77tktSVxbUJtmaJM1U0s3_FcGK0/view?usp=sharing" target="_blank"
            data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Resume</a>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container">
            <div class="social_icons_rounded">

              <a href="https://www.facebook.com/adhitya.murali"
                class="btn btn-default btn-round btn-lg btn-icon gap f_facebook"><i class="fa fa-facebook"
                  aria-hidden="true"></i></a>

              <a href="https://www.instagram.com/that_coffeee_guy/"
                class="btn btn-default btn-round btn-lg btn-icon gap instagram"><i class="fa fa-instagram"
                  aria-hidden="true"></i></a>
              <a href="https://www.linkedin.com/in/adhitya-murali/"
                class="btn btn-default btn-round btn-lg btn-icon gap linkedin"><i class="fa fa-linkedin"
                  aria-hidden="true"></i></a>

              <a href="#" class="btn btn-default btn-round btn-lg btn-icon gap skype"><i class="fa fa-skype"
                  aria-hidden="true"></i></a>
              <a href="https://github.com/adhityamurali" class="btn btn-default btn-round btn-lg btn-icon gap github"><i
                  class="fa fa-github" aria-hidden="true"></i></a>
              <!--   <a href="https://twitter.com/adhiie420"
                class="btn btn-default btn-round btn-lg btn-icon gap  t_twitter"><i class="fa fa-twitter"
                  aria-hidden="true"></i></a> -->

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
